@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter-Light-BETA.otf"); }

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.otf"); }

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.otf"); }

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.otf"); }

@font-face {
  font-family: "SFProDisplay-Black";
  src: url("../fonts/SFProDisplay-Black.ttf"); }

@font-face {
  font-family: "SFProText-Regular";
  src: url("../fonts/SFProText-Regular.ttf"); }

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,400;1,700&display=swap');
